---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Briana Weapons";
const titulo = "";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
