---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "El Chirly";
const titulo = "Están cayendo bombas en Madrid";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
