---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Grupo Chasky";
const titulo = "Movimiento indígena";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
