---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Juan Carlos Gorreta";
const titulo = "La vida de los exclavos en el siglo XXI";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>Escrito por: {autor}</p>
</Layout>
