---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Nono Murcia";
const titulo = "Fandangos";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
