---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Oscar cabanas";
const titulo = "Mandamás";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>Escrito por: {autor}</p>
</Layout>
