---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Vicius";
const titulo = "Vacaciones en España";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
