---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Daniel Villegas";
const titulo =
  "Recuperación & Reexplotación. Acerca de las canciones de trabajo";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
