---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Luis Duno-Gottberg";
const titulo =
  "Casas de cartón: cantos de contienda para una modernidad desigual";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
