---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Georges Brassens";
const titulo = "El azar arremete contra la policía";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
