---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Luis Navarro";
const titulo = "No-lugar";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
