---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Democracia";
const titulo = "Presentación";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <p>{autor}</p>
</Layout>
