---
import Layout from "../layouts/Layout.astro";
import Fiber from "../components/Fiber.jsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="h-screen">
      <Fiber client:load />
    </div>
  </main>
</Layout>
