---
import Layout from "../layouts/Layout.astro";
import Fiber from "../components/Fiber.jsx";
import { useLoader } from "@react-three/fiber";

import Greeting from "../components/Greeting.jsx";
---

<Layout title="Welcome to Astro.">
  <main></main>
</Layout>
