---
const baseClass =
  "bg-white h-1/2 md:h-full hover:bg-black transition-opacity grow flex justify-center";
---

<button class=`burger  ${baseClass}`>
  <div
    class="burg h-full w-full flex flex-col justify-center gap-[1vw] md:gap-[0.5vw] md:w-[10vw] items-center p-[4vw] md:p-[2vw]"
  >
    <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
    <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
    <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
  </div>

  <div
    class="flecha-cerrar hidden h-full w-full flex-col justify-center md:w-[9vw] p-[6vw] md:p-[2vw]"
  >
    <svg
      class="fill-red-600 w-full rotate-180"
      viewBox="0 0 32 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M22.1876 10.9494L11.8997 0.857187L19.1492 0.857141L32 13.4636L19.2206 26L11.9715 26L22.1877 15.978L-8.7616e-07 15.9779L6.31363e-06 10.9494L22.1876 10.9494Z"
      ></path>
    </svg>
  </div>
</button>

<script>
  import { isAnimating } from "./stores.js";
  import { solapaAbierta } from "./stores.js";
  const solapa = document.getElementById("solapa");
  const burgers = document.querySelectorAll(".burger");

  document.addEventListener("DOMContentLoaded", () => {
    const burgs = document.querySelectorAll(".burg");
    const flechaCerrar = document.querySelectorAll(".flecha-cerrar");

    burgers.forEach((burger) => {
      isAnimating.subscribe((value) => {
        if (value) {
          burger.classList.add("pointer-events-none", "opacity-50");
        } else {
          burger.classList.remove("pointer-events-none", "opacity-50");
        }
      });

      burger.addEventListener("click", abrirSolapa);
    });
  });

  function abrirSolapa() {
    console.log(solapaAbierta.value);
    const burgs = document.querySelectorAll(".burg");
    const flechaCerrar = document.querySelectorAll(".flecha-cerrar");

    if (!solapaAbierta.value) {
      console.log("abriendo");
      solapa.classList.remove("-left-full");
      solapa.classList.add("left-0");
      solapaAbierta.set(true);

      burgs.forEach((burg) => {
        burg.classList.remove("flex");
        burg.classList.add("hidden");
      });
      flechaCerrar.forEach((flecha) => {
        flecha.classList.remove("hidden");
        flecha.classList.add("flex");
      });
    } else {
      console.log("cerrando");
      solapa.classList.remove("left-0");
      solapa.classList.add("-left-full");
      solapaAbierta.set(false);

      burgs.forEach((burg) => {
        burg.classList.add("flex");
        burg.classList.remove("hidden");
      });
      flechaCerrar.forEach((flecha) => {
        flecha.classList.add("hidden");
        flecha.classList.remove("flex");
      });
    }
  }
</script>
