---
const baseClass =
  "bg-white h-1/2 md:h-full p-[4vw] md:p-[2vw] flex flex-col justify-center gap-[1vw] md:gap-[0.5vw] md:w-[10vw] items-center hover:bg-black";
---

<button id="burger" class={`${baseClass}`}>
  <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
  <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
  <i class="block bg-red-600 w-[8vw] md:w-[3vw] h-[1.3vw] md:h-[0.7vw]"></i>
</button>

<script>
  import { isAnimating } from "./stores.js";
  import { solapaAbierta } from "./stores.js";
  const solapa = document.getElementById("solapa");
  const burger = document.getElementById("burger");

  document.addEventListener("DOMContentLoaded", () => {
    const burger = document.getElementById("burger");

    isAnimating.subscribe((value) => {
      if (value) {
        burger.classList.add("pointer-events-none", "opacity-50");
      } else {
        burger.classList.remove("pointer-events-none", "opacity-50");
      }
    });
  });

  burger.addEventListener("click", abrirSolapa);

  function abrirSolapa() {
    console.log(solapaAbierta.value);
    if (!solapaAbierta.value) {
      console.log("abriendo");
      solapa.classList.remove("-left-full");
      solapa.classList.add("left-0");
      solapaAbierta.set(true);
    } else {
      console.log("cerrando");
      solapa.classList.remove("left-0");
      solapa.classList.add("-left-full");
      solapaAbierta.set(false);
    }
  }
</script>
