---
import { Image } from "astro:assets";
import lqon from "../assets/img/lo-quieras-o-no.svg";
import logotipo from "../assets/video/torno.mp4";
import BtnNextStation from "./BtnNextStation.jsx";
import BtnHome from "./BtnHome.jsx";
import Fiber from "../components/Fiber.jsx";
import BtnMenu from "../components/BtnMenu.astro";
import Solapa from "./Solapa.astro";
---

<header transition:persist>
  <div id="banner" class="flex gap-[2vw] md:gap-[1vw] justify-between">
    <BtnHome client:load />
    <div
      class="flex gap-[2vw] md:gap-[1vw] flex-col md:flex-row w-[20vw] md:w-none justify-between"
    >
      <BtnMenu />
      <BtnNextStation client:load />
    </div>
  </div>
  <Fiber client:load />
  <Solapa />
</header>
