---
import StationLinksAcciones from "../components/StationLinksAcciones";
import StationLinksTextos from "../components/StationLinksTextos";
import BtnMenu from "../components/BtnMenu.astro";
---

<nav
  id="solapa"
  class="fixed bg-black w-full min-h-full -left-full z-50 top-0 transition-all duration-1000 flex"
>
  <div class="flex flex-col md:flex-row md:gap-6 w-full">
    <div class="textos md:w-1/2">
      <div
        class="text-3xl md:text-[3vw] text-center mt-12 md:mt-[5vw] mb-8 md:mb-[3vw] font-bold"
      >
        Acciones
      </div>
      <div class="md:text-[1.2vw]">
        <StationLinksAcciones client:load />
      </div>
    </div>
    <div class="acciones md:w-1/2">
      <div
        class="text-3xl md:text-[3vw] text-center mt-12 md:mt-[5vw] mb-8 md:mb-[3vw] font-bold"
      >
        Textos
      </div>
      <div class="md:text-[1.2vw]">
        <StationLinksTextos client:load />
      </div>
    </div>
  </div>
  <BtnMenu />
</nav>
