---
import StationLinks from "../components/StationLinks";
---

<div
  id="solapa"
  class="absolute bg-black w-full min-h-full z-50 top-0 -left-full transition-all duration-1000"
>
  <StationLinks client:load />
</div>
