---
import Fiber from "../components/Fiber.jsx";
const { titulo, nombre, tipo } = Astro.props;
import CommonHead from "../components/CommonHead.astro";
import Menu from "../components/Menu.jsx";
---

<!doctype html>
<html lang="en">
  <CommonHead tipo={tipo} nombre={nombre} />
  <body class="text-white">
    <header transition:persist>
      <Menu client:load />
      <Fiber client:load />
    </header>
    <main>
      <slot />
    </main>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
    </style>
  </body>
</html>
