---
const { titulo, nombre, tipo } = Astro.props;
import CommonHead from "../components/CommonHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <CommonHead tipo={tipo} nombre={nombre} />
  <body class="text-white">
    <Header />
    <main class="font-serif flex flex-col items-center px-6 md:px-0 pb-20">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
    </style>
    <style is:global>
      a[data-footnote-ref] {
        color: #b91c1c;
        text-decoration: none;
      }

      .footnotes {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footnotes ol {
        max-width: 58ch;
      }

      .footnotes ol li {
        padding: 0.5em 0;
        border-bottom: 1px solid white;
        margin-left: 1em;
        list-style-type: decimal;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-regular-webfont.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-italic-webfont.woff") format("woff");
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-black-webfont.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-blackitalic-webfont.woff") format("woff");
        font-weight: 900;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-md-webfont.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Helveue";
        src: url("/fonts/helveue-mdit-webfont.woff") format("woff");
        font-weight: 500;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-Italic.woff") format("woff");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-BoldItalic.woff") format("woff");
        font-weight: 700;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-Light.woff") format("woff");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Crimson Pro";
        src: url("/fonts/CrimsonPro-LightItalic.woff") format("woff");
        font-weight: 300;
        font-style: italic;
        font-display: swap;
      }

      html {
        font-family: Helveue, sans-serif;
        color-scheme: dark light;
      }

      a {
        color: #b91c1c;
        transition: color 0.5s;
      }

      a:hover {
        color: white;
      }
    </style>
    <script>
      import { goToStation } from "../components/goToStation.js";
      window.addEventListener("popstate", function (event) {
        const pathArray = window.location.pathname.split("/");
        const stationUri =
          pathArray[pathArray.length - 1] || pathArray[pathArray.length - 2]; // En caso de que la URL termine con '/'
        goToStation(stationUri, event);
      });
    </script>
  </body>
</html>
