---
import Fiber from "../components/Fiber.jsx";
const { titulo, nombre, tipo } = Astro.props;
import Menu from "../components/Menu.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <header>
      <Menu client:load />
      <Fiber client:load />
      <h1>{titulo}</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
</style>
